@import "../../styles/variables.scss";
.WeatherSearch {
    display: flex;
    justify-content: center;
    padding: 1rem;
    &__Form {
        width: 100%;
        display: flex;
        justify-content: center;
        .searchbar {
            width: 70%;
            box-sizing: border-box;
            padding: 1rem 0.5rem;
            border-radius: 5px;
            border: 1px solid #e4e4e4;
            font-size: 1rem;
        }
    }
}

.btn {
    margin-left: 10px;
    background-color: $background-primary;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 10px;
}